/* Color Palette */
$offwhite: #FEFEE2;
$pink: #FF4362;
$darkblue: #080059;
$yellow: #FFDE7D;
$orange: #FF5A43;


body, html {
    font-family: 'Mark Pro';
    font-size: 14px;
}

.chatpack__container {
    background: transparent;
    padding: 0 20% 100px;
    overflow-y: auto;

    .chatpack__messages {
        padding: 0 30px;
    }

    .chatpack__message_bubble {
        position: relative;
        background: $offwhite;
        padding: 15px 20px;
        display: block;
        white-space:pre-wrap;
        width: max-content;
        max-width: 500px;


        &.user {

        }
    }

    .chatpack__header {
        height: 100px;
    }

    .chatpack__input__container {
        width: max-content;
        margin: 50px auto 100px;
        position: relative;
        background-color: $offwhite;
        border: 1.5px solid $darkblue;
    }

    .chatpack__input__field {
        width: 280px;
    }

    .chatpack__input__send {
        background: transparent;
        font-size: 18px;
    }
}

/* Mark Pro font */
@font-face {
    font-family: 'Mark Pro';
    src: url('fonts/Mark Pro.ttf');
}

@font-face {
    font-family: 'Mark Pro Medium';
    src: url('fonts/Mark Pro Medium.ttf');
}

@font-face {
    font-family: 'Mark Pro Bold';
    src: url('fonts/Mark Pro Bold.ttf');
}

@font-face {
    font-family: 'Mark Pro Heavy';
    src: url('fonts/Mark Pro Heavy.ttf');
}